body{
    background-color: #8C746F;
    font-family: 'Quicksand','Open Sans Condensed', 'Public Sans', 'Arial', sans-serif;
}

.button{
    border: solid;
    border-color: white;
    display: flex;
    align-items: center;
    background-color: none;
	height: 25px; /* <--- this is the new line */
    font-family: 'Quicksand','Open Sans Condensed', 'Public Sans', 'Arial', sans-serif;
    color: white; 
    padding: 5px;
    
}

.headercontainer{
    margin: 0 auto;
    width: 1200px;
    height:400px;
    background-color: #fff;
    overflow: hidden;
    position: relative; 
    
}
.headercontainer .imgban{
    width: 100%;
    height: 100%;
    position:absolute;
    top: 0px;
    transition: all ease-in-out 500ms;
    -webkit-transition: all ease-in-out 500ms;
    -moz-transition: all ease-in-out 500ms;
    -o-transition: all ease-in-out 500ms;
}

.headercontainer #imgban10{
    background-image: url(images/photo10.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.headercontainer #imgban9{
    background-image: url(images/photo9.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.headercontainer #imgban8{
    background-image: url(images/photo8.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.headercontainer #imgban7{
    background-image: url(images/photo7.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.headercontainer #imgban6{
    background-image: url(images/photo6.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.headercontainer #imgban5{
    background-image: url(images/photo5.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.headercontainer #imgban4{
    background-image: url(images/photo4.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.headercontainer #imgban3{
    background-image: url(images/photo3.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.headercontainer #imgban2{
    background-image: url(images/photo2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.headercontainer #imgban1{
    background-image: url(images/photo1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.headercontainer #imgban0{
    background-image: url(images/photo.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#headerContainer{
  background-color: none;
  display: flex;
  align-content: stretch;
  justify-content: center;
  align-items: center; 
  height:600px;
  overflow: hidden;
  width: 100%;
}

img{
  width: auto;
  height: auto;

}



.innernav{
    background-color: none;

}

.logo{
  display: flex;
  width: 25%;
  height: 150px;
  margin: 10px 10px 10px 50px;
  padding: 10px 10px 10px 40px;
  
    

}

#logoContainer{
  display: flex;
  justify-content: space-between;
  height: 75%;
  width: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: right;
    background-color: none;
  }


p{
    color: #a67a76;
    display: block;
    font-size: 17px;
    margin: 0 auto;
    text-align: justify;
    

}

.p1{
    text-indent: 50px;
    
}


.p2{
    
   text-indent: 50px;
   
}

.carol{
  border-radius: 50%;
  display: flex;
  width: auto;
  height: auto;
  margin: auto;
  padding: 20px;
    
    
}

a:link {
    color: #a67a76;
    text-decoration: none;
}

/* visited link */
a:visited {
  color: #a67a76;
    text-decoration: none;
  
}

/* mouse over link */
a:hover {
  color: #a67a76;
  text-decoration: none;
}

/* selected link */
a:active {
  color: #a67a76;
  
}



ul {
  display: flex;
  align-items: center;
  margin:0 auto;
  padding: 0;
  overflow: hidden;
  background-color: none;



}

li{
    display: flex;
    justify-content: space-around;
    padding: 20px;
    margin: 10px 10px 10px 70px;
    font-family: 'Open Sans Condensed';
    font-size: 30px;
    color: #a67a76;


}

main{
    background-color: #F2F2F2;
    display: block;
    margin: 0 auto;
    width: 95%;
    
}

#profileContainer{
    display: flex;
    flex-direction: column;
    width: 25%;
    padding: 10px 10px 10px 40px;
    margin: 10px 10px 10px 50px; 
    
}
