body{
    background-color: #8C746F;
    font-family: 'Quicksand','Open Sans Condensed', 'Public Sans', 'Arial', sans-serif;
}

.button{
    display: flex;
    align-items: center;
    background-color: none;
	height: 25px; /* <--- this is the new line */
    font-family: 'Quicksand','Open Sans Condensed', 'Public Sans', 'Arial', sans-serif;
    color: white; 
}
#headerContainer{
  background-color: #101010;
  display: flex;
  align-content: stretch;
  justify-content: center;
  align-items: center; /* <--- this is the new line */
  height:450px;
  overflow: hidden;
  width: 100%;
}

img{
  width: auto;
  height: auto;

}



.innernav{
    background-color: none;

}

.logo{
  display: flex;
  width: 25%;
  height: 150px;
  margin: 10px 10px 10px 50px;
  padding: 10px 10px 10px 40px;
  
    

}

#logoContainer{
  display: flex;
  justify-content: space-between;
  height: 75%;
  width: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: right;
    background-color: none;
  }


p{
    color: #a67a76;
    display: block;
    font-size: 17px;
    margin: 0 auto;
    text-align: justify;
    

}

.p1{
    text-indent: 50px;
    
}


.p2{
    
   text-indent: 50px;
   
}

.carol{
  border-radius: 50%;
  display: flex;
  width: auto;
  height: auto;
  margin: auto;
  padding: 20px;
    
    
}



ul {
  display: flex;
  align-items: center;
  margin:0 auto;
  padding: 0;
  overflow: hidden;
  background-color: none;



}

li{
    display: flex;
    justify-content: space-around;
    padding: 20px;
    margin: 10px 10px 10px 70px;
    font-family: 'Open Sans Condensed';
    font-size: 30px;
    color: #a67a76;


}

main{
    background-color: #F2F2F2;
    display: block;
    margin: 0 auto;
    width: 95%;
    
}

#profileContainer{
    display: flex;
    flex-direction: column;
    width: 25%;
    padding: 10px 10px 10px 40px;
    margin: 10px 10px 10px 50px; 
    
}
